/* サカパHPcss */
body {
    margin: 0;
    padding: 0;
    font-family:'ヒラギノ丸ゴ ProN';
}

.wrap {
    overflow: hidden;
}

/* ヘッダー */
.header {
    width: 100%;
    height: 72px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #696969;
}

.header-logo {
    display: inline-block;
    margin-left: 36px;
    position: fixed;
    top: 0px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.header-logo-a {
    height: 72px;
}

.header-container {
    display: block;
    height: 72px;
}

.header-main {
    display: block;
    float: right;
    height: 72px;
    width: 530px;
    margin: auto 48px auto 0;
    padding: 0;
    position: relative;
}

.header-list {
    position: absolute;
    top: 24px;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-ele {
    display: inline-block;
    font-size: 1.0em;
    letter-spacing: 0.07em;
    padding: 0 10px;
}

.header-ele a {
    text-decoration: none;
    color: black;
}

.header-twitter {
    position: absolute;
    right: -20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.header-twitter a {
    text-decoration: none;
}

.header-twitter a p {
    display: none;
}

.header-twitter-icon {
    fill: #1da1f2;
    width: 30px;
    height: 30px;
}

/* スマホ */
@media screen and (min-width:621px) and (max-width:850px) {
    .header-main {
        width: 100%;
        margin: 0;
    }

    .header-container {
        position: absolute;
        top: 73px;
        width: 100%;
        height: 72px;
        display: none;
    }

    .header-list {
        top: 0px;
        background-color: rgba(255, 255, 255, 0.9);
        height: 72px;
        line-height: 72px;
        width: 100%;
    }

    .header-twitter {
        top: 20px;
        right: 20px;
    }

    .toggle-icon:before {
        font-family: 'Material Icons';
        content: '\e5d2';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }

    .toggle-icon-change:before {
        font-family: 'Material Icons';
        content: '\e14c';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }
}

@media screen and (max-width:620px) {
    .header-main {
        width: 100%;
        margin: 0;
    }

    .header-container {
        position: absolute;
        top: 73px;
        width: 100%;
        height: 225px;
        display: none;
    }

    .header-logo {
        margin: 0;
    }

    .header-list {
        top: 0;
        background-color: rgba(255, 255, 255, 0.9);
        height: 270px;
        line-height: 36px;
        width: 100%;
    }

    .header-ele {
        display: block;
        height: 45px;
        width: 100%;
        font-size: 1.0em;
        letter-spacing: 0.07em;
        padding: 0;
    }

    .header-twitter {
        top: 225px;
        right: -35vw;
        width: 100%;
        height: 30px;
    }

    .header-twitter a {
        text-decoration: none;
        font-size: 25px;
        height: 30px;
        width: 150px;
    }

    .header-twitter a p {
        display: inline-block;
        position: absolute;
        top: 0px;
        font-size: 20px;
        margin:  0 0 0 20px;
        height: 30px;
        color: #000;
    }

    .toggle-icon:before {
        font-family: 'Material Icons';
        content: "\e5d2";
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }

    .toggle-icon-change:before {
        font-family: 'Material Icons';
        content: '\e14c';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }
}

/* メイン */
.main {
    margin-top: 72px;
    height: 1100px;
    width: 100%;
}
.main-wrapper{
    background-image:url(sakapa.jpg);
    background-size: cover;
    padding:80px 0 450px 0;
    color: rgb(29, 41, 61);
    padding:70px 0 460px 0;
    text-align:center;
}

.main-mask {
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
}

.container h1,.container p {
  opacity: 0.8;
}

.container h1 {
    padding-top: 20px;
    font-size:300%;
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

.container p {

}

.main-explain{
    text-align:center;
    line-height:50px;
    margin:20px 30px;
}

@media screen and (max-width:850px) {
    .main-wrapper {
    }
}


@media screen and (max-width:449px) {
    .main {
        height: 1500px;
    }
}

/* SLA */
.SLA-container{
    color: rgb(29, 41, 61);
    text-align:center;
}
.SLA_eng{
  font-size:50%;
  color:rgba(41, 43, 103, 0.83);
  margin-left: 100px;
}
.explain1 h1{
  margin-top: 100px;
  padding:60px 20px;
  background-color:rgba(196, 234, 241, 0.5);

}

.SLA{
    list-style-type:none;
}


/* フッター */
.footer {
    height: 350px;
    background-color: rgba(105,105,105,1);
    color: white;
    position: relative;
    width: 100%;
}

.footer-container {
    height: 350px;
    position: absolute;
    top: 0;
    margin: 0 8%;
    position: relative;
}

.footer-kind {
    position: absolute;
    top: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.footer-kind img {
    height: 50px;
    display: inline-block;
    margin: 0 auto;

}

/* .footer-kind-text {
    display: inline-block;
    float: right;
}

.footer-kind-text h1 {
    font-size: 1.5em;
    margin: 0 100px 0 0;
}

.footer-kind-text p {
    width: 300px;
    margin:  0;
    padding-top: 10px;
    font-size: 0.8em;
} */

.footer-at {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.footer-ele a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.07em;
}

.footer-link a {
    color: #1da1f2;
}

/* @media screen and (min-width:1251px) and (max-width:2000px) { */
    .footer-list {
        position: absolute;
        top: 125px;
        left: 0px;
        width: 100%;
    }

    .footer-list-a {
      text-align: center;
      margin: 1em 1em;
      padding: 0;
    }

    .footer-ele {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer-link {
        position: absolute;
        bottom: 80px;
        text-align: center;
        width: 100%;
    }
/* } */

@media screen and (min-width:1110px) and (max-width:1250px) {
    /* .footer-list {
        position: absolute;
        top: 225px;
        right: 5%;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .footer-ele {
        float: left;
        list-style-type: none;
        margin-bottom: 5px;
        margin-right: 50px;
        width: 110px;
    } */

    /* .footer-link {
        position: absolute;
        bottom: 10px;
        right: 0px;
    } */
}

@media screen and (min-width:971px) and (max-width:1108px) {
    /* .footer-list {
        position: absolute;
        top: 50px;
        right: 0%;
        height: 90px;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 350px;
    }

    .footer-ele {
        float: left;
        list-style-type: none;
        margin-bottom: 5px;
        margin-left: 50px;
        width: 110px;
    } */

    /* .footer-link {
        position: absolute;
        bottom: 10px;
        right: 0px;
    } */
}

@media screen and (min-width:700px) and (max-width:970px) {
    /* .footer-list {
        position: absolute;
        top: 50px;
        right: 7%;
        height: 90px;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 200px;
    }

    .footer-ele {
        float: left;
        list-style-type: none;
        margin-bottom: 5px;
        margin-left: 50px;
        width: 110px;
    } */

    /* .footer-link {
        position: absolute;
        bottom: 10px;
        right: 0px;
    } */
}

@media screen and (min-width:500px) and (max-width:699px) {
    .footer {
        height: 620px;
    }

    .footer-container {
        height: 700px;
        margin: 0;
    }

    .footer-kind {
      position: absolute;
      top: 50px;
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0 auto;

    }

    .footer-kind img {
        height: 70px;
    }

    /* .footer-kind-text {
        display: inline-block;
        float: right;
        position: absolute;
        left: 120px;
        top: 0;
        width: 70vw;
    }

    .footer-kind-text h1 {
        font-size: 1.0em;
        margin: 0 10px 0 0;
    }

    .footer-kind-text p {
        width: 100%;
        margin: 0;
        padding-top: 10px;
        font-size: 0.6em;
    } */

    .footer-list {
        position: absolute;
        top: 170px;
        left: 0%;
        width: 100%;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .footer-ele {
        list-style-type: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff;
        height: 50px;
        font-size: 1.4em;
        margin-left: 0;
    }

    .ele-1 {
        border-top: 1px solid #fff;
    }

    .footer-ele a {
        line-height: 50px;
        height: 50px;
    }


    .footer-link {
        position: absolute;
        bottom: 150px;
        text-align: center;
    }

    .footer-link p{
        width: 100%;
        text-align: center;
    }

    .footer-at {
        position: absolute;
        bottom: 85px;
    }

}


/* スマホ */
@media screen and (max-width:499px) {
    .footer {
        height: 620px;
    }

    .footer-container {
        height: 700px;
        margin: 0;
    }

    .footer-kind {
      position: absolute;
      top: 50px;
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0 auto;

    }

    .footer-kind img {
        height: 70px;
    }

    .footer-kind-text {
        display: inline-block;
        /* float: right; */
        position: absolute;
        left: 120px;
        top: 0;
        width: 80vw;
    }

    .footer-kind-text h1 {
        font-size: 1.0em;
        margin: 0 10px 0 0;
    }

    .footer-kind-text p {
        width: 70%;
        margin: 0;
        padding-top: 10px;
        font-size: 0.6em;
    }

    .footer-list {
        position: absolute;
        top: 170px;
        left: 0%;
        width: 100%;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .footer-ele {
        list-style-type: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff;
        height: 50px;
        font-size: 1.4em;
        margin-left: 0;
    }

    .ele-1 {
        border-top: 1px solid #fff;
    }

    .footer-ele a {
        line-height: 50px;
        height: 50px;
    }


    .footer-link {
        position: absolute;
        bottom: 150px;
        text-align: center;
    }

    .footer-link p{
        width: 100%;
        text-align: center;
    }

    .footer-at {
        position: absolute;
        bottom: 85px;
    }
}
