/* サカパHPcss */
body {
    margin: 0;
    padding: 0;
    font-family:'ヒラギノ丸ゴ ProN';
}

.wrap {
    overflow: hidden;
}

/* ヘッダー */
.header {
    width: 100%;
    height: 72px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #696969;
}

.header-logo {
    display: inline-block;
    margin-left: 36px;
    position: fixed;
    top: 0px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.header-logo-a {
    height: 72px;
}

.header-container {
    display: block;
    height: 72px;
}

.header-main {
    display: block;
    float: right;
    height: 72px;
    width: 530px;
    margin: auto 48px auto 0;
    padding: 0;
    position: relative;
}

.header-list {
    position: absolute;
    top: 24px;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-ele {
    display: inline-block;
    font-size: 1.0em;
    letter-spacing: 0.07em;
    padding: 0 10px;
}

.header-ele a {
    text-decoration: none;
    color: black;
}

.header-twitter {
    position: absolute;
    right: -20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.header-twitter a {
    text-decoration: none;
}

.header-twitter a p {
    display: none;
}

.header-twitter-icon {
    fill: #1da1f2;
    width: 30px;
    height: 30px;
}

/* スマホ */
@media screen and (min-width:621px) and (max-width:850px) {
    .header-main {
        width: 100%;
        margin: 0;
    }

    .header-container {
        position: absolute;
        top: 73px;
        width: 100%;
        height: 72px;
        display: none;
    }

    .header-list {
        top: 0px;
        background-color: rgba(255, 255, 255, 0.9);
        height: 72px;
        line-height: 72px;
        width: 100%;
    }

    .header-twitter {
        top: 20px;
        right: 20px;
    }

    .toggle-icon:before {
        font-family: 'Material Icons';
        content: '\e5d2';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }

    .toggle-icon-change:before {
        font-family: 'Material Icons';
        content: '\e14c';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }
}

@media screen and (max-width:620px) {
    .header-main {
        width: 100%;
        margin: 0;
    }

    .header-container {
        position: absolute;
        top: 73px;
        width: 100%;
        height: 225px;
        display: none;
    }

    .header-logo {
        margin: 0;
    }

    .header-list {
        top: 0;
        background-color: rgba(255, 255, 255, 0.9);
        height: 270px;
        line-height: 36px;
        width: 100%;
    }

    .header-ele {
        display: block;
        height: 45px;
        width: 100%;
        font-size: 1.0em;
        letter-spacing: 0.07em;
        padding: 0;
    }

    .header-twitter {
        top: 225px;
        right: -35vw;
        width: 100%;
        height: 30px;
    }

    .header-twitter a {
        text-decoration: none;
        font-size: 25px;
        height: 30px;
        width: 150px;
    }

    .header-twitter a p {
        display: inline-block;
        position: absolute;
        top: 0px;
        font-size: 20px;
        margin:  0 0 0 20px;
        height: 30px;
        color: #000;
    }

    .toggle-icon:before {
        font-family: 'Material Icons';
        content: "\e5d2";
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }

    .toggle-icon-change:before {
        font-family: 'Material Icons';
        content: '\e14c';
        font-style: normal;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }
}

/* メイン */
.main {
    margin-top: 72px;
    height: 1100px;
    width: 100%;
}
.main-wrapper{
    background-image:url(HPimg/sakapa.jpg);
    background-size: cover;
    color: rgb(29, 41, 61);
    padding:70px 0 460px 0;
    text-align:center;
}

.main-mask {
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
}

.container h1,.container p {
  opacity: 0.8;
}

.container h1 {
    padding-top: 20px;
    font-size:300%;
    font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

.container p {

}

.main-explain{
    text-align:center;
    line-height:50px;
    margin:50px 30px;
}

.main-explain p {
  font-size: 20px;
}

.main-explain p:first-child {
  font-size: 30px;
}


@media screen and (max-width:449px) {
    .main {
        height: 900px;
    }

    .main-wrapper {
      padding: 30px 0 60px 0;
    }

    .main-explain {
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
    }

    .main-explain p {
      padding: 0 30px;
      font-size: 16px;
    }



    .main-explain p:first-child {
      font-size: 27px;
      padding-bottom: 30px;
      border-bottom: dotted 3px #555;
    }

}

/* SLA */
.main_SLA {
  height: 1000px;
}

.SLA-container{
    color: rgb(29, 41, 61);
    text-align:center;
}


.SLA_eng{
  font-size:50%;
  color:rgba(41, 43, 103, 0.83);
  margin-left: 100px;
}

.explain1{
  margin-top: 72px;
  margin-bottom: 70px;
  padding:60px 20px;
  background-color:rgba(196, 234, 241, 0.5);
}

.SLA-list {
  margin: 20px;
  border: dotted 3px rgba(196, 234, 241, 0.5);
}

.SLA{
    list-style-type:none;
    padding: 0;
}

.SLA li {
  font-size: 20px;
  margin: 10px 0;
}

.SLA_text {
  margin: 0 20px;
  font-size: 17px;
}

.explain2 {
  margin: 20px 20px;
  font-size: 17px;
}

@media screen and (max-width: 499px) {
  .explain1 {
    padding: 10px 20px 40px 20px;
    margin-bottom: 30px;
  }
}

/* 年間予定 */
.schedule_main {
  height: 3050px;
}

.schedule_explain{
  margin-top: 72px;
  padding:60px 20px;
  background-color:rgba(196, 234, 241, 0.5);
}

.schedule_container p {
  font-size: 20px;
}

.schedule_container{
  text-align: center;
  width: 100%;
}

.table_container {
  width: 80vw;
  margin: 0 auto;
}

.schedule_table {
  width: 100%;
}

.schedule_table caption {
  background-color: #003866;
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
}

.schedule_table tbody tr td, .schedule_table tbody tr th {
    background-color: #00bcd44a;
    background-repeat: repeat;
    background-position: left top;
    border: 0;
    padding: 10px;
    white-space: nowrap;
}

.schedule_table tbody tr th {
  width: 30px;
}

.schedule_table tbody tr td {
    background-color: #39dca721;
    vertical-align: top;
    line-height: 2.5;
    padding: 15px 25px;
    border: 0;
    white-space: normal;
}

.schedule_table tbody tr td .table_contents {
  float: left;
}

.schedule_table tbody tr td .table_contents ul{
  margin: 0;
  padding: 0;
}

.schedule_table tbody tr td .table_contents ul li{
  /* float: left; */
  /* list-style: none; */
  display: table;
}

.schedule_table tbody tr td .table_img {
  float: right;
}

.schedule_table tbody tr td .table_img img {
  max-width: 280px;
  vertical-align: top;
}

.schedule_explain2 {
  margin-top: 50px;
}

.schedule_explain2 p {
  font-size: 25px;
}

@media screen and (max-width: 499px) {
.schedule_main {
  height: 4100px;
}

.schedule_explain {
  padding: 30px 20px;
}

.table_container {
  width: 90vw !important;
}

.schedule_table tbody {
  background-color: #39dca721;
}


  .schedule_table tbody tr th, .schedule_table tbody tr td  {
    display: block;
    width: 100%;
}

.schedule_table tbody tr th {
  padding: 5px 0;
}

.schedule_table tbody tr td {
  padding: 0;
}

.schedule_table tbody tr td .table_contents {
  width: 100%;
}

.schedule_table tbody tr td .table_contents ul {
  padding-left: 20px;
}

.schedule_table tbody tr td .table_img img {
  max-width: 250px;
}

.schedule_table tbody tr td .table_img {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.schedule_explain2 p {
  margin-left: 20px;
  margin-right: 20px;
}


}

/* 大会実績 */
.result_main {
  height: 1000px;
}

.result_explain{
  margin-top: 72px;
  padding:60px 20px;
  background-color:rgba(196, 234, 241, 0.5);
}
.result_container{
  text-align: center;
  width: 100%;
}

.table_container {
  width: 80vw;
  margin: 0 auto;
}

.result_table {
  width: 100%;
}

.result_table caption {
  background-color: #003866;
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
}

.result_table tbody tr td, .result_table tbody tr th {
    background-color: #00bcd44a;
    background-repeat: repeat;
    background-position: left top;
    border: 0;
    padding: 10px;
    white-space: nowrap;
}

.result_table tbody tr th {
  width: 30px;
}

.result_table tbody tr td {
    background-color: #39dca721;
    vertical-align: top;
    line-height: 2.5;
    padding: 15px 25px;
    border: 0;
    white-space: normal;
}

.result_table tbody tr td .table_contents {
  float: left;
}

.result_table tbody tr td .table_contents ul{
  margin: 0;
  padding: 0;
}

.result_table tbody tr td .table_contents ul li{
  /* float: left; */
  /* list-style: none; */
  display: table;
}

@media screen and (max-width: 499px) {
.result_main {
  height: 1300px;
}

.result_explain {
  padding: 30px 20px;
}


.table_container {
  width: 90vw !important;
}

.result_table tbody {
  background-color: #39dca721;
}


  .result_table tbody tr th, .result_table tbody tr td  {
    display: block;
    width: 100%;
}

.result_table tbody tr th {
  padding: 5px 0;
}

.result_table tbody tr td {
  padding: 0;
}

.result_table tbody tr td .table_contents {
  width: 100%;
}

.result_table tbody tr td .table_contents ul {
  padding: 20px;
}

}



/* Q&A */
.qa_main {
  height: 1600px;
}

.qa_explain{
  margin-top: 72px;
  padding:60px 20px;
  background-color:rgba(196, 234, 241, 0.5);
  text-align: center;
}

.qa_text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}

.block_body {
    padding: 30px 40px;
}

.block_body_letter {
    width: 80vw;
    margin: 0 auto;
}

.qa_box dt, .qa_box dd {
    line-height: 1.75;
    margin-bottom: 10px;
    padding-left: 50px;
}

.qa_box {
  padding: 30px 0 15px 0;
  border-top: dotted 2px #555;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.qa_box_last {
  border-bottom: dotted 2px #555;
}

.qa_box dt {
  position: relative;
}

.qa_box dt:before{
  content: 'Q';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  margin: 5px 0 5px 0;
  border-radius: 50%;
  background-color: #1f9eec;
  color: #fff;
  line-height: 25px;
  height: 25px;
  width: 25px;
}

.qa_box dt #text {
}

.qa_box dd {
  margin-left: 0;
  position: relative;
}

.qa_box dd:before {
  content: 'A';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  margin: 5px 0 5px 0;
  border-radius: 50%;
  background-color: #ec5b5b;
  color: #fff;
  line-height: 25px;
  height: 25px;
  width: 25px;
}

.qa_box dd #text {

}

@media screen and (max-width: 499px) {
  .qa_main {
    height: 2700px;
}

.qa_explain {
  padding: 30px 20px;
}


  .qa_box dd a {
    font-size: 16px;
  }
}

/* フッター */
.footer {
    height: 350px;
    background-color: #555;
    color: white;
    position: relative;
    width: 100%;
}

.footer-container {
    height: 350px;
    position: absolute;
    top: 0;
    margin: 0 8%;
    position: relative;
}

.footer-kind {
    position: absolute;
    top: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.footer-kind img {
    height: 100px;
    display: inline-block;
    margin: 0 auto;

}

.footer-at {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.footer-ele a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.07em;
}

.footer-link a {
    color: #1da1f2;
    font-size: 18px;
}

.footer-list {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
}

.footer-list-a {
  text-align: center;
  margin: 1em 1em;
  padding: 0;
}

.footer-ele {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-link {
    position: absolute;
    bottom: 80px;
    text-align: center;
    width: 100%;
}

.footer-link p {
  margin: 5px 0;
  font-size: 14px;
}

@media screen and (min-width:1110px) and (max-width:1250px) {
}

@media screen and (min-width:971px) and (max-width:1108px) {
}

@media screen and (min-width:700px) and (max-width:970px) {
}

@media screen and (min-width:500px) and (max-width:699px) {
    .footer {
        height: 620px;
    }

    .footer-container {
        height: 700px;
        margin: 0;
    }

    .footer-kind {
      position: absolute;
      top: 30px;
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0 auto;

    }

    .footer-kind img {
        height: 100px;
    }

    .footer-list {
        position: absolute;
        top: 170px;
        left: 0%;
        width: 100%;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .footer-ele {
        list-style-type: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff;
        height: 50px;
        font-size: 1.4em;
        margin-left: 0;
    }

    .ele-1 {
        border-top: 1px solid #fff;
    }

    .footer-ele a {
        line-height: 50px;
        height: 50px;
    }


    .footer-link {
        position: absolute;
        bottom: 150px;
        text-align: center;
    }

    .footer-link p{
        width: 100%;
        text-align: center;
    }

    .footer-at {
        position: absolute;
        bottom: 85px;
    }

}


/* スマホ */
@media screen and (max-width:499px) {
    .footer {
        height: 620px;
    }

    .footer-container {
        height: 700px;
        margin: 0;
    }

    .footer-kind {
      position: absolute;
      top: 30px;
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0 auto;

    }

    .footer-kind img {
        height: 100px;
    }

    .footer-kind-text {
        display: inline-block;
        position: absolute;
        left: 120px;
        top: 0;
        width: 80vw;
    }

    .footer-kind-text h1 {
        font-size: 1.0em;
        margin: 0 10px 0 0;
    }

    .footer-kind-text p {
        width: 70%;
        margin: 0;
        padding-top: 10px;
        font-size: 0.6em;
    }

    .footer-list {
        position: absolute;
        top: 170px;
        left: 0%;
        width: 100%;
    }

    .footer-list-a {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .footer-ele {
        list-style-type: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff;
        height: 50px;
        font-size: 1.4em;
        margin-left: 0;
    }

    .ele-1 {
        border-top: 1px solid #fff;
    }

    .footer-ele a {
        line-height: 50px;
        height: 50px;
    }


    .footer-link {
        position: absolute;
        bottom: 150px;
        text-align: center;
    }

    .footer-link p{
        width: 100%;
        text-align: center;
    }

    .footer-at {
        position: absolute;
        bottom: 85px;
    }
}
